<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>老师的主页</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

        <div class="login-title">
            <h2 >查询学生成绩</h2>
        </div>
        <form th:action="@{/do/selectS}" method="post">
            <div class="gcs-login-container">
                <input type="text" id="sno" name="sno" placeholder="请输入学号" required="true" >
            </div>
            <br />
            <br />
            <div class="gcs-login-container">
                <input type="submit" id="select"  style="background-color: aquamarine" value="查询"></input>
            </div>
        </form>

        <div class="login-title">
            <h2 >修改学生成绩</h2>
        </div>
        <form th:action="@{/do/selectU}" method="post">
            <div class="gcs-login-container">
                <input type="text" id="uno" name="uno" placeholder="请输入学号" required="true" >
            </div>
            <div class="gcs-login-container">
                <input type="text" id="ucourse" name="ucourse" placeholder="请输入科目" required="true" >
            </div>
            <div class="gcs-login-container">
                <input type="number" id="uscore" name="uscore" placeholder="请输入分数" required="true" >
            </div>
            <br />
            <br />
            <div class="gcs-login-container">
                <input type="submit" id="update"  style="background-color: aquamarine" value="修改"></input>
            </div>
        </form>


        <div class="login-title">
            <h2 >增加学生成绩</h2>
        </div>
        <form th:action="@{/do/selectI}" method="post">
            <div class="gcs-login-container">
                <input type="text" id="iname" name="ino" placeholder="请输入学号" required="true" >
            </div>
            <div class="gcs-login-container">
                <input type="text" id="icourse" name="icourse" placeholder="请输入科目" required="true" >
            </div>
            <div class="gcs-login-container">
                <input type="number" id="iscore" name="iscore" placeholder="请输入分数" required="true" >
            </div>
            <br />
            <br />
            <div class="gcs-login-container">
                <input type="submit" id="insert"  style="background-color: aquamarine" value="插入"></input>
            </div>
        </form>

</body>
</html>